*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  margin: auto;
  border: 1px solid black;
  width: 380px;
  height: 710px;
  text-align: center;
  color: #4C4C4C;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 30px;
}

.form-head {
  line-height: 1.1;
  font-size: 24px;
  color: #4C4C4C;
  font-weight: 400;
}

.form-head-text {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

#learn-more {
  text-decoration: none;
}

p {
  text-align: center;
}

form {
  overflow: hidden;
  width: 320px;
  height: 390px;
  margin: auto;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 2px;
  margin: 0;
}

.account-info {
  padding-top: 20px;
}

.account-info label {
  color: #404040;
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

.account-action .btn {
  display: block;
  margin: 20px auto;
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
}

.terms {
  text-align: center;
  width: 340px;
  margin: auto;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: #757575;
}

#link-terms-of-use,
#statement-link {
  text-decoration: none;
}